#todo-list {
    max-width: 500px;
    margin: 0 auto;
}

body {
    margin: 0;
    box-sizing: border-box;
    color: rgb(8, 160, 109);
    font-style: italic;
  }
  

.container {
    display: flex;
    justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  background-image: url(image4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #131212;
    border-radius: 5px;
}

li .item {
    flex-grow: l;
}

li button {
    margin-left: 10px;
}
